.header {
    width: 100%;
    /* backdrop-filter: blur(100px); */
    background:transparent;
    position: fixed;
    top: 0;
    z-index: 999;
}
.header__content {
    padding: 1rem 0;
}
.header__content__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__content__menu-burger {

}
.header__content__menu-logo__wrapper{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background: white;
border: 1px solid #0676B3;
border-radius: 1.25rem;
padding: 0rem 2.18rem;
height: 2.5rem;

}

.header__content__menu-link__wrapper{
    position: relative;
    border: 1px solid #0676B3;
    border-radius: 6.25rem;
    padding: 0.4rem 0;
    width: 2.5rem;
    height: 2.5rem;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.basket-link-badge{
    position: absolute;
    top: 0.4rem;
    right: 0.4rem;

    border-radius: 1rem;
    width: 0.94rem;
    height: 0.94rem;
    background: #C20000;

}
.basket-link-badge p{
    font-family: 'Roboto';
font-weight: 900;
font-size: 0.75rem;
line-height: 140%;
text-align: center;
color: #fff;
}

.basket_link-icon{
    position: absolute;
    min-height: 15px;
    min-width: 16px;
    bottom: 0.4rem;
    right: 0.8rem;
}
.header__content__menu-logo {
}
.header__content__menu-right-nav {
    display: flex;
    align-items: center;
    gap: 23px;
}
.header__content__menu-basket-link {
}
.header__content__menu-profile {
}
