/*
    banner
*/
.banner-background {
    position:fixed;
    top: 0;
    width: 100%;
    object-fit: cover;
    z-index: -3;
    height: 100vh;
    filter: brightness(0.4);
}

.banner {
    background: rgba(0, 0, 0, 0.75);
    height: 100vh;


}

.banner__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    height: 100vh;
    transform: translateY(50%);
    opacity: 0%;
    transition: all 0.8s ease 0.2s;
}

.banner__content._active{
    transform: translateY(0);
    opacity: 100%;
} 



.banner__content-text {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 70.06rem;
    width: 64.6%;
}

/*
    banner
*/


/*
    about us
*/

.block-about_us__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1%;
    height: 887px;
    position: relative;
    color: #050F27;
}


.block-about_us__content .vector-decor {
    right: 62px;
    bottom: -135px;
}

.block-about_us__content-clients-info {
    position: absolute;
    right: 70px;
    top: 59px;
    z-index: 10;
}

.clients-info-text {
    font-family: 'Road Radio';
    font-size: 64.59px;
    /* font-weight: 800; */
    line-height: 50.33px;
    text-align: left;
    /* border: 1px solid black; */

}


.block-about_us__content-img {
    border-radius: 2.5rem;
    height: 100%;
    opacity: 0%;
    transform: scale(0.7);
    background: url(../img/aboutUsImg.jpg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -217px -24px;
    transition: all 0.8s ease 0.2s;
}

.block-about_us__content-img._active{
    opacity: 100%;
    transform: none;
    background-attachment: fixed;

}
.block-about_us__content-info {
    height: 887px;
    background: #E8F6FE;
    border-radius: 2.5rem;
    color: #050f27;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 37px;
    text-align: left;
    padding: 192px 90px;
    opacity: 0%;
    transform: scale(0.7);
    transition: all 0.8s ease 0.2s;
}

.block-about_us__content-info._active{
    opacity: 100%;
    transform: scale(1);
}

.block-about_us__content-info p {
    text-align: left;
}

.about-vector-decor{
    opacity: 0%;
    transform: rotate(120deg);
    transform: scale(0.1);
    transition: all 0.8s ease 1s;
}
.about-vector-decor._active{
    opacity: 100%;
    transform: scale(1);
    transform: rotate(0deg);
}

/*
    researches
*/

.block-researches{
    transform: translateY(50%);
    opacity: 0%;
    transition: all 0.8s ease 0.2s;
}

.block-researches._active{
    transform: translateY(0);
    opacity: 100%;
}

.researches__list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1149px;
}
.researches__wrap {
    display: flex;
    justify-content: space-between;
}

.researches__content {
    display: flex;
    flex-wrap: wrap;
    width: 49.5%;
    max-height: 597px;
    justify-content: space-between;
    align-content: space-between;
}

.researches__content-card {
    display: flex;
    flex-direction: column;
    border: 0.50px solid #050f2773;
    border-radius: 1.25rem;
    overflow: hidden;
    /* margin: 1%; */
    width: 100%;
}

.researches__unical__block .researches__content-card {
    margin: 0;
}

.small-card {
    width: 49%;
}

.small-height-card {
    max-height: 282px;
}

.researches__unical__block {
    position: relative;
    width: 100%;
    /* margin: 1%; */
}

.researches__card-unical-radius-mask{
    /* width: 100px; */
    /* height: 100px; */
    /* margin: -20px 0 20px 0; */
    box-shadow: 13px 10px 0 0 #fff;
    width: 61px;
    height: 27px;
    position: absolute;
    top: 246px;
    right: 0px;
    border-radius: 1.25rem;
}

.researches__card-unical-radius-mask-bottom{
    box-shadow: 14px 14px 0 0 #fff;
    width: 31px;
    height: 25px;
    position: absolute;
    bottom: 0;
    right: 50.6%;
    border-radius: 1.25rem;
    
    }
    

.researches__unical__block .background__small {
    background: #fff;
    padding: 18px 0 0 18px;
    border-radius: 1.25rem 0 0 0;
    position: absolute;
    bottom: 0;
    right: -0.5px;
    width: 50.7%;
}

.researches__content-image {
    height: 447px;
    width: 100%;
    object-fit: cover;
}


.researches__content-image-small-height {
    height: 182px;
    width: 100%;
    object-fit: cover;
}

.researches__content-image-unical {
    height: 182px;
    width: 100%;

}

.researches__card-button{
    position: relative;
    display: flex;
    padding: 0rem 2rem;
    height: 120px;
    background: #fff;
    justify-content: space-between;
    align-items: center;
}
.researches__card-button.small{
    position: relative;
    display: block;
    padding: 0 1.25rem;
    height: 94px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.researches__card-button.small.small-txt p{
max-width: 16.4rem;
}

.researches__card-button p{
    font-family: 'Mulish';
font-weight: 600;
font-size: 2rem;
font-size: 1.67vw;
line-height: 120%;
letter-spacing: 0.01em;
color: #050f27;
}




/**
    advantages
**/

.block-advantages{
    visibility: hidden;

    transform: translateY(-100%);
    transition: all 0.8s ease 0.8s;
    z-index: 0;

}

.advantages__container._active .block-advantages{
    visibility: visible;
    transform: translateY(0);
}

.block-advantages .vector-decor.advatage-vector-1 {
    left: -91px;
    top: 12%;
}

.block-advantages .vector-decor.advatage-vector-2 {
    right: -91px;
    top: 34%;
}

.block-advantages .vector-decor.advatage-vector-3 {
    left: -91px;
    bottom: 32%;
}

.block-advantages .vector-decor.advatage-vector-4 {
    right: -91px;
    bottom: 9%;
}

.advantages__content {
    margin: 0 auto;
    /* padding: 0 16rem; */
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    width: 74%;
    align-items: center;
    justify-content: center;
    transition: all 0.8s ease 0.2s;

    transform: scale(1.5);

}


.advantages__container._active .advantages__content{
    transform: scale(1);
}

.advantages__content__card {
    display: grid;
    justify-content: space-between;
    align-items: center;
    gap: 1.8rem;
    grid-template-columns: repeat(2, 1fr);
}

.advantages__content__card__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem;
}

.advantages__content__card__text .main-text {
    color: #fff;
    text-align: left;
}

.advantages__content__card__text .h5-b-120 {
    color: #0676B3;
}

.advantages__content__card__image {
    position: relative;
    /* width: 48%; */
    display: inline-table;
}

.advantages__content__card__image-image {
    width: 100%;
    border-radius: 20px;
    filter: brightness(0.9);
}

.advantages__image-item {
    position: absolute;
    bottom: -0.2rem;
    /* right: 1.8rem; */
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: end;
}

.advantages__image-icon {

    stroke-width: 0.30px;
    stroke: #050F27;
    backdrop-filter: blur(6px);
    box-shadow: inset 0 1px 3px 0 rgba(255, 255, 255, 0.4);
}



/*
    work wteps
*/

.work-steps__content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42.3rem;
    margin-top: 2.5rem;
}

.steps__content-center-icon {
    position: absolute;
    top: 8rem;
    /* animation-delay: 0.8s; */
}
.steps__content-center-icon._active{
    animation: rotate 0.6s linear;

}

@keyframes rotate {
    from {
        transform: rotate(0deg); /* Начальная позиция */
    }
    to {
        transform: rotate(360deg); /* Конечная позиция */
    }
}

.work-steps__content__step-card {
    position: absolute;
    display: flex;
    gap: 5%;
    width: 41%;
    /* min-width: 38.4rem; */
    align-items: center;
}

.work-steps__content__step-card:nth-child(2) {
    top: 6%;
    left: 0;
    display: flex;
    align-items: flex-start;
    transition: all 0.8s ease 1.8s;
    opacity: 0%;
}

.work-steps__content__step-card:nth-child(3) {
    top: 0;
    right: 0;
    transition: all 0.8s ease 0.6s;
    opacity: 0%;
}


.work-steps__content__step-card:nth-child(4) {
    top: 52%;
    left: 0;
    transition: all 0.8s ease 1.6s;
    opacity: 0%;
}

.work-steps__content__step-card:nth-child(5) {
    bottom: 0;
    right: 21%;
    align-items: flex-end;
    transition: all 0.8s ease 1.4s;
    opacity: 0%;
}

.work-steps__content__step-card:nth-child(6) {
    top: 22.13rem;
    right: 0;
    transition: all 0.8s ease 1s;
    opacity: 0%;
}

.work-steps__content__step-card._active{
    opacity: 100%;
}

.step__card-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.step__card-text .h5-b-120 {
    text-align: left;
}

.step__card-text .main-text {
    text-align: left;
}

/*
    counts
*/

.counts__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 10.9rem; */
    height: 668px;
}

.counts__content__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem;
    width: 668px;
    transition: all 0.8s ease 0.2s;
    opacity: 0%;
}
.counts__content__text._active{
    opacity: 100%;
}

.counts__content__text .main-text {
    text-align: left;
}

.counts__content__cards {
    position: relative;
    display: flex;
    align-items: flex-end;
    width: 52.8%;
    height: -webkit-fill-available;
}

.counts__content__cards-card {
    position: absolute;
    border: 1px solid #050F27;
    border-radius: 2.5rem;
    padding: 6% 3.13rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1%;
    width: 52%;
    background: #fff;
    /* height: 17.5rem; */
    transition: all 0.8s ease 0.2s;
    transform: scale(0.6);
    opacity: 0%;
}

.counts__content__cards-card:nth-child(1) {
    bottom: 56%;
    right: 14.6rem;
}

.counts__content__cards-card:nth-child(2) {
    bottom: 20%;
    right: 0;
}

.counts__content__cards-card:nth-child(3) {
    bottom: 0;
    left: 0;
}
.counts__content__cards-card._active{
    transform: scale(1);
    opacity: 100%;
}

.counts__content__cards-card p {
    color: #050F27;
}

.large-count-text {
    font-family: 'Road Radio';
    font-weight: 700;
    font-size: 5.73vw;
    line-height: 100%;
}

.gradient-text {
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(97deg, #0676b3 0%, #1daaf7 100%);
}

.dark {
    background-color: #050F27;
}

.counts__content__cards-card.dark p {
    color: #fff;
}



/*
    ask-form
*/
#consultation{
    opacity: 0%;
    transition: all 0.8s ease 0.2s;
}
#consultation._active{
opacity: 100%;
}
.ask-form__content {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.ask-form__content__form {
    background: #fff;
    border-radius: 2.5rem;
    padding: 3.75rem 4%;
    display: flex;
    gap: 1%;
    justify-content: space-between;
}

.ask-form__content__form-input {
    border: 1px solid #050F27;
    border-radius: 3.12rem;
    padding: 0.62rem 2.5rem;
    width: 27.25rem;
    height: 4.38rem;
    font-family: 'Mulish';
    font-weight: 700;
    font-size: 1.38rem;
    font-size: 1.15vw;
    line-height: 120%;
    letter-spacing: 0.05em;

}

.ask-form__content__form .main-button {
    border: none;
}

.ask-form__content .main-text a {
    text-decoration: underline;
    color: #050F27;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    opacity: 0.8;


}

/*
    trust
*/

.trust-block{
    /* opacity: 0%; */
transform: scaleY(0.0001);
transition: all 0.8s ease-out 0.2s;

}
.trust-block._active{
transform: none;
/* opacity: 100%; */
}

.unical-background {
    position: relative;
    padding: 22rem 0;

}


.backround-vector {
background: url(../img/backroundVector.png);
background-size: cover;
background-attachment: fixed;
height: 100%;
}

.trust-block__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.trust-block__content .main-text {
    max-width: 32.2rem;
    color: #fff;
}

.cart {
    position: relative;
    height: 700px;
}

.cart__circle {
    position: absolute;
    background: linear-gradient(97deg, #0676b3 0%, #1daaf7 100%);
    border-radius: 100%;
    padding: 2.62rem 0.88rem;
    width: 21.88rem;
    height: 21.88rem;
    color: white;
    display: flex;
    align-items: center;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-text {}

/*
slider compleks

*/


.slider__wrap {
    position: relative;
    width: 91.5%;
    overflow: hidden;
    height: 250px;
    margin-left: 8.1%;
    
    opacity: 0%;
    transform: translateX(20%);
    transition: all 0.8s ease 0.2s;
}

.slider__wrap._active{
    opacity: 100%;
    transform: translateX(0);
}

.slider__cards__content {
    position: absolute;
    top: 0;
    left: 0px;
    display: flex;
    gap: 1%;
    width: 2070px;
    transition: all ease-in-out 0.5s;
}

.slider__card {
    position: relative;
    border-radius: 1.25rem;
    padding: 1.25rem 1.88rem;
    width: 30.94rem;
    height: 15.62rem;
    background-color: #E8F6FE;
}

.slider__card.dark {
    background-color: #050F27;
    color: #fff;
}

.slider__card img {
    position: absolute;
    right: 30px;
    top: 20px;
}

.slider__card .h4-sb-32 {
    position: absolute;
    bottom: 20px;
}

.top__slider__content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 9%;
    opacity: 0%;
    transform: translateX(20%);
    transition: all 0.8s ease 0.2s;
}

.top__slider__content._active{
    opacity: 100%;
    transform: translateX(0);
}

.top__slider__content .title__wrap {
    margin: 0;
}

.arrows__slider {
    display: flex;
    gap: 16px;
}

.slider-arrow {
    background: transparent;
    border: none;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}

.slider-arrow:hover svg{
    fill: var(--blue);
}

.slider-arrow:hover svg path{
    fill: #fff;
}







@media (max-width:1792px) {
    .counts__content {
        height: 647px;
    }
}

@media (max-width:1692px) {
    .counts__content {
        height: 623px;
    }
}

@media (max-width:1200px) {

/*
    banner
*/

    .banner__content {
        gap: 15px;

    }

    .banner__content-text {
        max-width: 647px;
        gap: 15px;
    }

/*
    banner
*/

/*
    researches
*/

.researches__list{
    height: 780px;
}
.researches__content {
    width: 49.1%;
    max-height: 397px;
    
}

.researches__content-card {
    border-radius: 12px;
}



.small-height-card {
    max-height: 183px;
}

.researches__unical__block {
    position: relative;
    width: 100%;
}


.researches__content-image {
    height: 304.4px;
}


.researches__content-image-small-height {
    height: 118px;
}

.researches__content-image-unical {
    height: 118px;

}

.researches__card-button{
    height: 77px;
}
.researches__card-button.small{
    padding: 0 1.25rem;
    height: 64px;
}

.researches__card-button.small.small-txt p{
max-width: 16.4rem;
}

.researches__card-button p{
    font-family: 'Mulish';
font-weight: 600;
font-size: 2rem;
font-size: 1.67vw;
line-height: 120%;
letter-spacing: 0.01em;
color: #050f27;
}
.small-card{
    width: 48%;
}


.researches__unical__block .background__small{
    padding: 18px 0 0 18px;
    border-radius: 12px 0 0 0;
    right: -0.5px;
    width: 51.5%;
}
.researches__card-unical-radius-mask{

    top: 155px;
    border-radius: 12px;
}

.researches__card-unical-radius-mask-bottom{
    bottom: 0;
    right: 51.4%;

    
    }

    .researches__card-button{
        padding: 0 20px;
    }
    .researches__card-button.small{
        padding: 0 20px;
    }

/*
    researches
*/

/*
    about us
*/

.block-about_us__content-img{
    width: 245px;
    height: -webkit-fill-available;
}

.block-about_us__content {
    height: 531px;
    gap: 20px;
}

.block-about_us__content .vector-decor {
    right: 5%;
    bottom: -84px;
}

.block-about_us__content-clients-info {
    position: absolute;
    right: 100px;
    top: 36px;
}

.clients-info-text {
    font-size: 2.5rem;
    font-size: 4vw;
    line-height: 100%;
}


.block-about_us__content-img {
    border-radius: 20px;

}

.block-about_us__content-info {
    height: 531px;
    border-radius: 20px;
    gap: 20px;
    padding: 12% 40px;
}

/*
slider compleks

*/

.slider__wrap {

    height: 157px;
}

.slider__cards__content {
    gap: 20px;
    width: 1294px;
}

.slider__card {
    border-radius: 12px;
    padding: 20px;
    width: 309px;
    height: 156px;
}

.slider__card img {
    right: 20px;
}

.slider__card .h4-sb-32 {
    bottom: 20px;
}

.top__slider__content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 9%;
}

.top__slider__content .title__wrap {
    margin: 0;
}

.arrows__slider {
    gap: 10px;
}

.slider-arrow {
    background: transparent;
    border: none;
    
}
.slider-arrow svg{
    width: 41px;
}

.slider__card-img{
    max-width: 125px;
}


/**
    advantages
**/

.block-advantages .vector-decor.advatage-vector-1 {
    left: -74px;
    top: 12%;
}

.block-advantages .vector-decor.advatage-vector-2 {
    right: -74px;
    top: 34%;
}

.block-advantages .vector-decor.advatage-vector-3 {
    left: -74px;
    bottom: 32%;
}

.block-advantages .vector-decor.advatage-vector-4 {
    right: -74px;
    bottom: 9%;
}

.advantages__content {
    gap: 20px;
}

.advantages__content__card {

    gap: 20px;
}

.advantages__content__card__text {
    gap: 20px;
}



.advantages__content__card__image-image {
    border-radius: 12px;
}

.advantages__image-item {
 
    padding: 15px;
}



/*
    work wteps
*/

.work-steps__content {

    height: 412px;
    margin-top: 20px;
}

.steps__content-center-icon {
    top: 60px;
    width: 200px;
}


.work-steps__content__step-card {

gap: 20px;

max-width: 419px;

/* width: 41%; */
}
.step__card-icon{
    max-width: 147px;
    max-height: 142px;
}

.work-steps__content__step-card:nth-child(2) {
    top: 6%;
    left: 0;
    display: flex;
    align-items: flex-start;
}

.work-steps__content__step-card:nth-child(3) {
    top: 0;
    right: 0;
}

.work-steps__content__step-card:nth-child(4) {
    top: 50%;
    left: 0;
}

.work-steps__content__step-card:nth-child(5) {
    bottom: 0;
    right: 21%;
    align-items: flex-end;
}

.work-steps__content__step-card:nth-child(6) {
    top: 213px;
    right: 0;
}

.step__card-text {

    gap: 12px;
}

.step__card-text .h5-b-120 {
    text-align: left;
}

.step__card-text .main-text {
    text-align: left;
}

/*
    counts
*/

.counts__content {
    height: 418px;
}

.counts__content__text {
    gap: 20px;
    width: 422px;
}



.counts__content__cards-card {

    border-radius: 20px;
    padding: 6% 20px;
}

.counts__content__cards-card:nth-child(1) {
    bottom: 56%;
    right: 40%;
}


/*
    ask-form
*/

.ask-form__content {
    gap: 12px;
}

.ask-form__content__form {
    border-radius: 20px;
    padding: 37px 4%;
    gap: 1%;
}

.ask-form__content__form-input {
    border-radius: 50px;
    padding: 13px 25px;
    width: 272px;
    height: 44px;
    font-size: 14rem;
    font-size: 1.15vw;

}
/*
    trust
*/
.unical-background{
    padding: 221px 0;
}
.trust-block__content .main-text{
max-width: 320px;
}

/*
cart
*/
.cart {
    position: relative;
    height: 500px;
}

.cart__circle {
    width: 239px;
    height: 239px;

}
}

@media (max-width:1024px){
    .arrow-dark-image{
        width: 25px;
        height: 25px;
    }

    .researches__card-button.small {
        padding: 0 10px;
    }
    .block-about_us__content-clients-info {
        position: absolute;
        right: 50px;
        top: 36px;
    }
}

@media (max-width:940px){
    .block-about_us__content-clients-info{
        display: none;
    }

    .steps__content-center-icon {
        top: 82px;
        width: 171px;
    }

    .counts__content {
        height: 339px;
    }
}

@media (max-width:640px) {

    /*
        banner
    */
    
        .banner__content {
            gap: 10px;
    
        }
    
        .banner__content-text {
            width: 90%;
            gap: 10px;
        }
    
    /*
        banner
    */
    
    /*
        researches
    */
    
    .researches__list{
        height: 422px;
    }
    .researches__content {
        width: 49.1%;
        max-height: 273px;
        
    }
    
    .researches__content-card {
        border-radius: 10px;
    }
    
    
    
    .small-height-card {
        max-height: 98px;
    }
    
    
    
    .researches__content-image {
        height: 163px;
    }
    
    
    .researches__content-image-small-height {
        height: 63px;
    }
    
    .researches__content-image-unical {
        height: 63px;
    
    }
    
    .researches__card-button{
        padding: 0 6px;

        height:43px;
    }
    .researches__card-button.small{
        padding: 0 6px;
        height: 35px;

    }

    .researches__card-button.small.small-txt p{
    max-width: 90px;
    }
    
    .researches__card-button p{
 
    font-size: 12px;
    font-size: 1.88vw;

    }
    .arrow-dark-image{
        width: 25px;
        height: 25px;
    }    
    
    .researches__unical__block .background__small{
        padding: 10px 0 0 10px;
        border-radius: 10px 0 0 0;
        right: -0.5px;
        width: 51.5%;
    }
    .researches__card-unical-radius-mask{
    
        top: 71px;
        border-radius: 10px;
        box-shadow: 13px 19px 0 0 #fff;
    }
    
    .researches__card-unical-radius-mask-bottom{
        bottom: 0;
        right: 51.4%;
        border-radius: 10px;
    
        
        }
    

    
    
    /*
        researches
    */
    
    /*
        about us
    */
    
    .block-about_us__content-img{
        width: 129px;
    }
    
    .block-about_us__content {
        height: 330px;
        gap: 15px;
    }
    
    .block-about_us__content .vector-decor {
        bottom: -38px;
    }
    
    .block-about_us__content-clients-info {
     display: none;
    }
    
    
    
    .block-about_us__content-img {
        border-radius: 10px;
    
    }
    
    .block-about_us__content-info {
        height: 330px;
        border-radius: 10px;
        gap: 10px;
        padding: 7% 20px;
    }
    
    /*
    slider compleks
    
    */
    
    .slider__wrap {
    
        height: 84px;
    }
    
    .slider__cards__content {
        gap: 10px;
        width: 690px;
    }
    
    .slider__card {
        border-radius: 10px;
        padding: 10px;
        width: 165px;
        height: 83px;
    }
    
    .slider__card img {
        right: 10px;
        top: 10px;
    }
    
    .slider__card .h4-sb-32 {
        bottom: 10px;
    }
    
    .top__slider__content {
        gap: 9%;
    }
    
    .top__slider__content .title__wrap {
        margin: 0;
    }
    
    .arrows__slider {
        gap: 10px;
    }
    
    .slider-arrow {
        background: transparent;
        border: none;
        
    }
    .slider-arrow svg{
        width: 22px;
    }
    
    .slider__card-img{
        max-width: 67px;
    }
    
    
    /**
        advantages
    **/
    
    .block-advantages .vector-decor.advatage-vector-1 {
        left: -18px;
        top: -4%;
    }
    
    .block-advantages .vector-decor.advatage-vector-2 {
        right: -12px;
        bottom: -8px;
        top: unset;
    }
    
    .block-advantages .vector-decor.advatage-vector-3 {
       display: none;
    }
    
    .block-advantages .vector-decor.advatage-vector-4 {
       display: none;
    }
    
    .advantages__content {
        gap: 10px;
        width: 100%;
    }
    
    .advantages__content__card {
    
        gap: 10px;
    }
    
    .advantages__content__card__text {
        gap: 10px;
    }
    
    
    
    .advantages__content__card__image-image {
        width: 100%;
        height: 217px;
        border-radius: 10px;
        object-fit: cover;
    }
    
    .advantages__image-item {
     
        padding: 10px;
    }
    .advantages__image-item svg{
        width: 30px;
        height: 30px;
    }
    
    
    
    /*
        work wteps
    */
    
    .work-steps__content {
    
        height: 212px;
        margin-top: 20px;
    }
    
    .steps__content-center-icon {
        top: 26px;
        width: 107px;
    }
    
    
    .work-steps__content__step-card {
    
    gap: 10px;
    
    max-width: 223px;
    
    /* width: 41%; */
    }
    .step__card-icon{
        max-width: 74px;
        max-height: 77px;
    }
    
    .work-steps__content__step-card:nth-child(6) {
        top: 96px;
        right: 0;
    }
    
    .step__card-text {
    
        gap: 4px;
    }
    
    .step__card-text .h5-b-120 {
        text-align: left;
    }
    
    .step__card-text .main-text {
        text-align: left;
    }
    
    /*
        counts
    */
    
    .counts__content {
        height: 230px;
    }
    
    .counts__content__text {
        gap: 10px;
        width: 210px;
    }
    
    
    
    .counts__content__cards-card {
    
        border-radius: 10px;
        padding: 6% 10px;
    }
    
    
    /*
        ask-form
    */
    
    .ask-form__content {
        gap: 10px;
    }
    
    .ask-form__content__form {
        border-radius: 10px;
        padding: 16px 4%;
    }
    
    .ask-form__content__form-input {
        border-radius: 30px;
        padding: 9px 10px;
        width: 150px;
        height: 30px;
        font-size: 10px;
        font-size: 1.15vw;
    
    }
    /*
        trust
    */
    .unical-background{
        padding: 112px 0;
    }
    .trust-block__content .main-text{
    max-width: 220px;
    }
    
    /*
    cart
    */
    .cart {
        position: relative;
        height: 320px;
    }
    
    .cart__circle {
        width: 130px;
        height: 130px;
    
    }
    }


    @media (max-width:440px) {

        /*
            banner
        */
        
            .banner__content {
                gap: 30px;
        
            }
        
            .banner__content-text {
                width: 100%;
                gap: 15px;
            }
        
        /*
            banner
        */
        
        /*
            researches
        */
        
        .researches__list{
            height: 1200px;
        }
        .researches__wrap {
            flex-direction: column;
            height: 596px;
        }
        .researches__content {
            width: 100%;
            max-height: 300px;
            height: 300px;
            
        }
        
        .researches__content-card {
            border-radius: 10px;
        }
        
        
        
        .small-height-card {
            max-height: 150px;
        }
        
        
        
        .researches__content-image {
            height: 223px;
        }
        
        
        .researches__content-image-small-height {
            height: 80px;
        }

        .small-card img{
            height: 100px;
        }
        
        .researches__content-image-unical {
            height: 100px;
        
        }
        
        .researches__card-button{
            padding: 0 15px;
            gap: 10px;
            height:56px;
        }
        .researches__card-button.small{
            padding: 0 15px;
            height: 56px;
    
        }
    
        .researches__card-button.small.small-txt p{
        max-width: 90px;
        }
        
        .researches__card-button p{
     
        font-size: 18px;
        word-break: break-all;
    
        }
        .arrow-dark-image{
            width: 40px;
            height: 40px;
        }    
        
        .researches__unical__block .background__small{
            padding: 10px 0 0 10px;
            border-radius: 10px 0 0 0;
            right: -0.5px;
            width: 51.5%;
        }
        .researches__card-unical-radius-mask{
        
            top: 86px;
        }
        
        /*
            researches
        */
        
        /*
            about us
        */
        
        .block-about_us__content-img{
            width: 79px;
        }
        
        .block-about_us__content {
            height: 500px;
            gap: 10px;
        }
        .block .block-about_us__content .title{
            font-size: 32px;
            text-align: left;
        }
        
        .block-about_us__content .vector-decor {
            bottom: -38px;
        }
        
        .block-about_us__content-clients-info {
         display: none;
        }
        
        
        
        .block-about_us__content-img {
            border-radius: 10px;
        
        }
        
        .block-about_us__content-info {
            height: 500px;
            border-radius: 10px;
            gap: 10px;
            padding: 86px 5px;
        }
        
        /*
        slider compleks
        
        */
        
        .slider__wrap {
        
            height: 156px;
            overflow: scroll;
        }
        .slider__wrap::-webkit-scrollbar {
            display: none; 
        }
        
        .slider__wrap {
            scrollbar-width: none;
        }
        
        .slider__wrap {
            -ms-overflow-style: none; 
        }
        .slider__cards__content {
            gap: 10px;
            width: 1294px;
        }
        
        .slider__card {
            width: 300px;
            height: 156px;
        }
        
        .slider__card img {
            right: 10px;
            top: 10px;
        }
        
        .slider__card .h4-sb-32 {
            bottom: 10px;
        }

        
        .top__slider__content .title__wrap {
            text-align: center;
        }
        
        .arrows__slider {
            display: none;
        }
        
        
        .slider__card-img{
            max-width: 125px;
        }
        
        
        /**
            advantages
        **/
        
        .block-advantages .vector-decor.advatage-vector-1 {
          display: none;
        }
        
        .block-advantages .vector-decor.advatage-vector-2 {
           display: none;
        }
        
    
        
        .advantages__content {
            gap: 50px;
            width: 100%;
        }
        .advantages__content__card{
            display: flex;
            gap: 10px;

        }

    .advantages__content__card__image {
        width: 100%;
    }
        
        .advantages__content__card:nth-child(1) {
            flex-direction: column-reverse;
        }

        .advantages__content__card:nth-child(2) {
            flex-direction: column;
        }

        .advantages__content__card:nth-child(3) {
            flex-direction: column-reverse;
        }

        .advantages__content__card:nth-child(4) {
            flex-direction: column;
        }
        
        .advantages__content__card__text {
            gap: 10px;
        }
        
        
        
  
        
  
        
        
        
        /*
            work wteps
        */
        
        .work-steps__content {
        
            height: 738px;
            margin-top: 20px;
        }
        
        .steps__content-center-icon {
            top: 0px;
            left:0px;
            width: 150px;
        }
        
        
        .work-steps__content__step-card {
        
        gap: 10px;
        
        max-width: 100%;
        
        width: 100%;
        }
        .step__card-icon{
            max-width: 100%;
            max-height: none;
        }
        
        .work-steps__content__step-card:nth-child(3) {
            top: 0;
            right: 0;
            flex-direction: column;
            gap: 10px;
            width: 56%;
            align-items: flex-start;
            left: 49%;
        }

        .work-steps__content__step-card:nth-child(2) {
            top: unset;
            left: 0;
            display: flex;
            align-items: flex-end;
            bottom: 0;
        }
        .work-steps__content__step-card:nth-child(4) {
            top: unset;
            left: 0;
            bottom: 134px;
            flex-direction: row-reverse;
            align-items: flex-end;
        }
        .work-steps__content__step-card:nth-child(5) {
            bottom: 286px;
            right: 0;
            flex-direction: row-reverse;
            width: 80%;
        }    
        .work-steps__content__step-card:nth-child(6) {
            top: 163px;
            left: 0;
            align-items: flex-end;
            width: 90%;
        }

        
        .step__card-text {
        
            gap: 4px;
        }
        
        .step__card-text .h5-b-120 {
            text-align: left;
        }
        
        .step__card-text .main-text {
            text-align: left;
            font-size: 12px;
        }
        
        /*
            counts
        */
        .large-count-text{
            font-size: 64px;
        }
        .counts__content {
            flex-direction: column;
            height: 622px;

        }
        
        .counts__content__text {
            gap: 10px;
            width: 100%;
        }
        .counts__content__text .title{
            text-align: center;
        }
        .counts__content__cards {
            width: 100%;
        }
        
        
        .counts__content__cards-card {
        
            border-radius: 20px;
            padding: 10% 10px;
            width: 75%;
        }
        .counts__content__cards-card:nth-child(1) {
            top: 0;
            right: unset;
            bottom: unset;
        }
        .counts__content__cards-card:nth-child(2) {
            bottom: 33%;
            right: 0;
        }
        
        
        /*
            ask-form
        */
        .block .title{
            text-align: center;
        }
        .ask-form__content {
            gap: 10px;
        }
        
        .ask-form__content__form {
            border-radius: 10px;
            padding: 16px 30px;
            flex-direction: column;
            gap: 10px;
            width: 100%;
        }
        .main-text.left{
            text-align: center;
        }
        .ask-form__content__form-input {
            border-radius: 30px;
            padding: 13px 10px;
            width: 100%;
            height: 44px;
            font-size: 14px;
           
            /* font-size: 1.15vw; */
            
        }
        /*
            trust
        */
        .backround-vector{
            object-fit: fill;
        }
        .unical-background{
            padding: 234px 0;
        }
        .trust-block__content .main-text{
        max-width: 100%;
        }
        
        /*
        cart
        */
        .cart {
            position: relative;
            height: 600px;
        }
        
        .cart__circle {
            width: 239px;
            height: 239px;
        
        }
        }
    